<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Error [[${code}]] - Spy Redis</title>
  <link th:href="@{styles/main.css}" rel="stylesheet"/>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{images/favicon.png}">
</head>
<body>
<div class="container">
  <div class="row">
    <div th:switch="${code}">
      <div th:case="400" class="error-image" th:style="'background-image:url(/images/400_error_bad_request.png);'"></div>
      <div th:case="404" class="error-image" th:style="'background-image:url(/images/404_error_not_found.png);'"></div>
      <div th:case="*" class="error-image" th:style="'background-image:url(/images/500_internal_server_error.png);'"></div>
    </div>
  </div>
</div>
</body>
</html>